@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html,
body,
header,
#intro,
#outro
{
    height: 100%;
}

#intro {
    background: url("https://i.ibb.co/bJbHZt0/TLI-39.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }


